:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --desaturated-blue:  hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --more-transparent-white: hsla(0, 0%, 100%, 0.6);
}

@font-face {
    font-family: 'inter';
    src: url('fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: 'lexend-deca';
    src: url('fonts/lexend_deca/LexendDeca-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 15px;
    font-family: inter;
}

body {
    min-height: 100%;
    background-color: var(--very-dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.accent {
    color: var(--soft-violet);
}
main {
    background-color: var(--desaturated-blue);
    margin: auto;
    display: grid;
    grid-template-columns: 540px 540px;
    height: 445px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}
main > header {
    position: relative;
    grid-row: 1;
    grid-column: 2;
}
main > header {
    background: var(--soft-violet);
}
main > header > img {
    display: block;
    mix-blend-mode: multiply;
    filter: brightness(1.3) contrast(.6);
}
main > header > img:last-child {
    display: none;
}

main > section {
    padding: 60px 75px;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}
main > section > h1 {
    font-size: 2.4rem;
    margin-bottom: 40px;
}

main > section > p {
    color: var(--transparent-white);
    flex: 1;
    line-height: 25px;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.stat > div {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.stat:last-child > div {
    text-transform: uppercase;
}

.stat > h2 {
    color: var(--more-transparent-white);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 400;
    font-family: 'lexend-deca';
    letter-spacing: .5px;
}

.attribution { 
    position: absolute;
    bottom: 0;
    color: var(--white);
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width: 376px) { 
    main  {
        grid-template-columns: 1fr;
        height: auto;
        overflow: auto;
    }
    main > header {
        grid-row: 1;
        grid-column: 1;
    }
    main > header > img:first-child {
        display: none;
    }
    
    main > header > img:last-child {
        width: 100%;
        display: block;
    }
    main > section {
        grid-row: 2;
        padding: 35px;
        text-align: center;
    }
    main > section > h1 {
        font-size: 1.75rem;
        margin-bottom: 20px;
    }
    main > section > p {
        margin-bottom: 50px;
    }
    .stats {
        grid-template-columns: 1fr;
        gap: 40px;
        justify-items: center;
        align-items: center;
    }
}